<div id="<%= dom_id idproof %>">
  <p>
    <strong>Document:</strong>
    <%#= idproof.document %>
    <%= image_tag idproof.document.url, size: 15*15 %>
  </p>
  <p>
    <strong>DocType:</strong>
    <%= idproof.doctype %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= idproof.status %>
  </p>
  <p>
    <strong>Merchant:</strong>
    <%= Merchant.find(idproof.merchant_id).email %>
  </p>
</div>
