<p style="color: green"><%= notice %></p>
<button><%= link_to "New Product", new_product_path %></button>
<%#= link_to "New Product Image", new_productimage_path %>
<button><%= link_to "New ID proof",  new_idproof_path%></button>
<h1>Products</h1>
<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
    <p>----------------------------------------------------------------------------------------------------------</p>
  <% end %>
</div>
<%#= link_to "New product", new_product_path %>
