<p style="color: green"><%= notice %></p>
<%#= render @product %>
  <%# Product.all.each do |product| %>
<div>
<h3>
<strong>Name:</strong>
<%= @product.name %>
</h3>
<p>
<strong>Desc:</strong>
<%= @product.desc %>
</p>
<p>
<strong>Category:</strong>
<%= Category.find(@product.category_id).categoryname %>
</p>
<p>
<%# <strong>Image:</strong> %>
<%#= product.image %>
<%#= image_tag productimage.image.url, size:20*20 %>
<%# <img src="<%= product.image %>
</p>
<p>
<strong>Price:</strong>
<%= @product.price %>
</p>
<strong>Merchant:</strong>
<%= Merchant.find(@product.merchant_id).email %>
</p>
<p>
<strong>Status:</strong>
<%= @product.status %>
</p>
</div>
<p>

<%# end %>
<%#= link_to "New product", new_product_path %>

<%# <strong>Images:</strong><br> %>
<%# @product.productimages.each do |productimage| %>
  <%#= image_tag productimage.image.url, size: 15*15 %>
<%# end %>
<%= render @product.productimages %>
<%#= render "productimages/form" %>
<%#= render "productimages/show" %>
<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>
  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
